<h1>Polymorpheus</h1>
<div class="big">
    <strong>Polymorpheus</strong>
    is a tiny library for polymorphic templates in Angular.
</div>
<div class="big">It is 1 KB gzip, dependency free and allows you to make pretty cool things.</div>
<p
    class="logo"
    [innerHTML]="logo"
></p>
<h2>How to use?</h2>
<blockquote>
    <div>Keep in mind these are heavily simplified examples.</div>
    <div>For example, forms related code is purposefully omitted.</div>
    <div>But real life cases would use the same techniques.</div>
</blockquote>
<app-input-demo data-step="1"></app-input-demo>
<blockquote>This way, if you would pass a string — it would be used as SVG icon source</blockquote>
<app-menu-demo data-step="2"></app-menu-demo>
<app-combo-box-demo data-step="3"></app-combo-box-demo>
<h2>Go on...</h2>
<app-tabs-demo></app-tabs-demo>
<h2>Unleash customization!</h2>
<p class="big">
    By now you've seen that
    <strong>Polymorpheus</strong>
    allows us to be pretty flexible. Let's see how far we can push our very simple ComboBox implementation.
</p>
<app-star-wars></app-star-wars>
<app-star-wars-demo></app-star-wars-demo>
<h2>Takeaway</h2>
<p class="big">
    <strong>Polymorpheus</strong>
    allows you to write
    <em>Design-agnostic</em>
    code. In a sense, it is a lot like
    <em>generics</em>
    — you wrap your logic around what you receive from the user without dependence on what exactly you have received.
</p>
<p class="big">
    This concept frees you from flags and specific code for particular use cases. You only define boundaries of how your
    component looks like and implement actual work logic. Visual customization is delegated to whoever uses your
    component and is easily reused.
</p>
<p class="big">
    Other good examples that could benefit from this idea are popups, notifications, tooltips, dropdowns, error messages
    etc.
</p>
<p class="big">
    Read more about it in
    <a
        href="https://medium.com/angular-in-depth/agnostic-components-in-angular-2427923b742d"
        target="_blank"
        rel="noreferrer"
    >
        this article
    </a>
    and check out
    <strong>entire polymorpheus based UI library</strong>
    of 200+ components and directives:
    <a
        href="https://github.com/taiga-family/taiga-ui"
        target="_blank"
        rel="noreferrer"
    >
        <img
            alt=""
            height="24"
            src="https://taiga-ui.dev/assets/images/taiga.svg"
            width="24"
        />
        Taiga UI
    </a>
</p>
<footer>
    <div>
        Icons made by
        <a
            href="https://www.flaticon.com/authors/those-icons"
            target="_blank"
            title="Those Icons"
            rel="noreferrer"
        >
            Those Icons
        </a>
        and
        <a
            href="https://www.iconfinder.com/vectto"
            target="_blank"
            title="Vectto"
            rel="noreferrer"
        >
            Vectto
        </a>
        from
        <a
            href="https://www.flaticon.com/"
            target="_blank"
            title="Flaticon"
            rel="noreferrer"
        >
            www.flaticon.com
        </a>
        and
        <a
            href="https://www.iconfinder.com/"
            target="_blank"
            title="Iconfinder"
            rel="noreferrer"
        >
            www.iconfinder.com
        </a>
    </div>
</footer>
