<span class="text">{{ text }}</span>
@if (content) {
    <div [class.template_active]="templateActive">
        <ng-container *polymorpheusOutlet="content as primitive">
            @if (isNumber(primitive)) {
                <div
                    class="number"
                    [class.number_active]="active"
                >
                    {{ primitive }}
                </div>
            } @else {
                <div
                    [class.icon_active]="active"
                    [innerHTML]="primitive"
                ></div>
            }
        </ng-container>
    </div>
}
