<span class="text">{{ $implicit().text }}</span>
@if ($implicit().content) {
    <div [class.template_active]="templateActive()">
        <ng-container *polymorpheusOutlet="$implicit().content as primitive">
            @if (isNumber(primitive)) {
                <div
                    class="number"
                    [class.number_active]="active()"
                >
                    {{ primitive }}
                </div>
            } @else {
                <div
                    [class.icon_active]="active()"
                    [innerHTML]="primitive"
                ></div>
            }
        </ng-container>
    </div>
}
