# ==================================================================================
# ==================================================================================
#                            ng-polymorpheus codeowners
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the angular/angular repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#

* @pavelpower @davakh
# will be requested for review when someone opens a pull request
