body {
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', system-ui, 'Roboto', 'Helvetica Neue', sans-serif;
    color: #333;
    margin: 0 auto;
    padding: 1.5rem;
    max-inline-size: 43.75rem;
}

blockquote {
    box-shadow: inset 4px 0 #f5f5f5;
    margin-left: 0;
    padding-left: 1.875rem;
    font-style: italic;
}

pre {
    border-radius: 4px;
    border: 1px solid #e7e8ea;
    padding: 0.75rem 1rem;
}

h2 {
    margin-top: 2.5rem;
}

img {
    vertical-align: middle;
}

a {
    color: #526ed3;
    text-decoration: none;
}

a:hover {
    color: #6c86e2;
}

footer {
    padding: 16px 0;
    border-top: 1px solid #f5f5f5;
}

app-combo-box,
app-input {
    inline-size: 20rem;
    margin: 0 auto;
}

[data-step] {
    margin: 2.5rem 0;
}

[data-step]::before {
    content: attr(data-step);
    display: inline-block;
    inline-size: 2rem;
    block-size: 2rem;
    vertical-align: middle;
    line-height: 2rem;
    text-align: center;
    background: #79818c;
    border-radius: 100%;
    margin-right: 16px;
    color: #fff;
    font-weight: bold;
}

.logo {
    block-size: 23.875rem;
    text-align: center;
}

.big {
    font-size: 1.125rem;
}

.hljs-tag {
    background: transparent;
}
