<div
    *ngIf="!items.length; else menu"
    class="empty"
>
    <ng-container *polymorpheusOutlet="emptyContent as text">{{ text }}</ng-container>
</div>
<ng-template #menu>
    <div
        *ngFor="let item of items"
        class="item"
        [class.item_active]="isActive(item)"
        (click)="itemClicked.emit(item)"
        (mouseenter)="onMouseEnter(item)"
    >
        <div
            *polymorpheusOutlet="content as primitive; context: getContext(item)"
            class="string"
        >
            {{ primitive }}
        </div>
    </div>
</ng-template>
